.header {
  border-bottom: 1px solid rgb(225, 219, 219);
}

.header-logo {
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.header-links {
  width: 820px;
  display: flex;
  justify-content: center;
  gap: 60px;
  a {
    color: black;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: rgb(189, 182, 182);
      text-decoration-thickness: 2px;
    }
  }
}

.anticon-menu {
  color: black;
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 40px !important;
}

.ant-input::placeholder {
  font-size: 12px;
  color: rgb(86, 86, 86);
}

.ant-input-affix-wrapper:not(:last-child) {
  border-start-start-radius: initial !important;
  border-end-start-radius: initial !important;
}

.ant-input-affix-wrapper {
  background-color: $secondary_color;
  border: 0px;
}

.ant-input-search-button {
  color: initial !important;
  background-color: $secondary_color;
  border-start-end-radius: 0px !important ;
  border-end-end-radius: 0px !important;
  height: 30px !important;
}

.ant-input-group-addon {
  border-radius: 0px;
}

.ant-btn-default {
  border-color: transparent !important;
}

.anticon {
  font-size: 18px !important;
}

.anticon-heart {
  font-size: 22px !important;
  cursor: pointer;
}

.anticon-shopping-cart {
  font-size: 22px !important;
  cursor: pointer;
}

@media (max-width: $tablet) {
  .header-btns {
    gap: 10px;
    padding-right: 0px !important;
  }
  .header-links {
    gap: 20px !important;
  }
  .header-logo {
    text-align: left !important;
  }
  .ant-layout-header {
    padding-inline: 15px !important;
  }
}

@media (max-width: $mid-tablet) {
  .header-btns {
    display: none !important;
  }
  .header-dropdown {
    display: block !important;
  }
}

.ant-dropdown-menu-title-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-dropdown {
  display: none;
}
