.category {
  line-height: 2px;
  padding: 10px 0px;
  cursor: pointer;
  margin: 0px;
  &:hover {
    font-size: 15px;
  }
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content !important;
  margin-left: 110px;
  text-align: left;
  padding-top: 20px !important;
}
.ant-layout-sider {
  position: -webkit-sticky !important;
  position: fixed !important;
  top: 70px;
  z-index: 1000;
  height: fit-content;
}

@media (max-width: $tablet) {
  .ant-layout-sider-children {
    margin-left: 16px;
  }
}
